<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}
	</div>

	<div class="container wrapper post {{ if .Params.wideContent }}wide-content{{ end }}">
		<div class="post-header">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted at &mdash; {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
		</div>

		<div class="markdown">
			{{ .Content }}
		</div>

		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
					<nav class="nav tags">
							<ul class="flat">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>

		{{- $.Scratch.Set "isGiscus" true -}}

		<!-- Disable if content type is excluded in config -->
		{{- if and (isset .Params "type") (in .Site.Params.disableGiscusTypes .Params.type) -}}
		{{- $.Scratch.Set "isGiscus" false -}}
		{{- end -}}

		<!-- Check if content has flag to enable/disable giscus explicitly -->
		{{- if and (isset .Params "giscus") (eq .Params.giscus false) -}}
		{{- $.Scratch.Set "isGiscus" false -}}
		{{- else if and (isset .Params "giscus") (eq .Params.giscus true) -}}
		{{- $.Scratch.Set "isGiscus" true -}}
		{{- end -}}

		{{- if eq ($.Scratch.Get "isGiscus") true -}}
		{{- partial "giscus.html" . -}}
		{{- end -}}
	</div>

	<div class="container wrapper">
		{{ partial "footer.html" . }}
	</div>
</body>
</html>
